@font-face {
    font-family: main_font;
    src: url(font/main_font.OTF);
}

h1 {
    font-size: 70px;
    color: black;
    text-align: center;
}

.site_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* S'étend sur toute la largeur */
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* Couleur de fond, ajustable */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    z-index: 1000; /* Toujours au-dessus du contenu principal */
}

.home_button {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.home_button .icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.site_info {
    display: flex;
    align-items: center;
}

.site_info .logo {
    width: 60px; /* Taille du logo */
    height: 60px;
    margin-right: 10px;
}

.site_info .site_name {
    font-size: 65px;
    font-weight: bold;
    color: #333; /* Couleur du texte */
}

a[href$=".html"]{
    text-decoration: none;
    color: black;
}

a[href$=".html"]:hover{
    color: cadetblue;
}

.body_main {
    font-family: main_font;
    margin-top: 5%;
}

.titre_principal {
    font-size: 60px;
    text-align: center;
}

.wollows, .giacomo, .karann, .narek, .lea, .xemon, .pazid, .zehcnaze, .latman {
    display: flex;
    align-items: center;
}

.list_player_1 img, .list_player_2 img, .list_player_3 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid black; /* Bordure fine et grise */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.wollows span, .giacomo span, .karann span , .narek span{
    font-size: 45px;
}

.list_player_1 button, .list_player_2 button, .list_player_3 button{
    border: none;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    font-size: 45px;
    cursor: pointer;
    margin: 4px 2px;
}

.list_player_1, .list_player_2, .list_player_3{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    gap: 20px; /* Espacement entre les joueurs */
    padding: 20px;
}