@font-face {
  font-family: main_font;
  src: url(/font/main_font.OTF);
}

body{
  font-family: "main_font";
}

h1 {
  font-size: 70px;
  color: black;
  text-align: center;
}

.site_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.home_button {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.home_button, .icon, .logo {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.site_info {
  display: flex;
  align-items: center;
}

.site_info .site_name {
  font-size: 65px;
  font-weight: bold;
  color: #333;
}

a[href$=".html"]{
  text-decoration: none;
  color: black;
}

a[href$=".html"]:hover{
  color: cadetblue;
}

.body_main {
  font-family: main_font;
  margin-top: 5%;
}

.titre_principal {
  font-size: 60px;
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
}

.list_player_1 img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 18px;
  border: 2px solid black; /* Bordure fine et grise */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.profile_button{
  text-decoration: none;
  color: black;
  border: none;
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
  margin: 4px 2px;
  min-width: 250px;
  background-color : #F0F0F0;
}

.ladder_button, .ladder-refresh-button{
  text-decoration: none;
  color: black;
  border: 2px rgb(149, 148, 148) solid;
  text-align: center;
  padding: 10px 10px;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  margin: 4px 2px;
  max-width: 210px;
}

.profile_button:hover, .ladder_button:hover, .ladder-refresh-button:hover{
  background-color: #5e61e2;
  color: #fafafa;
}

.ladder_button:hover, .ladder-refresh-button:hover{
  border: 2px #5e61e2 solid;
}

.list_player_1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
}

.header_ladder_button
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 52px;
  margin-left: 70px;
}

.profile_title{
  font-family: main_font;
  font-size: 70px;
  color: black;
  text-align: center;
  margin-top: 5%;
}

.home_button {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.site_info {
  display: flex;
  align-items: center;
}

.site_info .site_name {
  font-size: 40px;
  font-weight: bold;
  color: #333; 
  margin-left: 15px;
}

.logo_centrage{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;    

}

.logo_centrage img{
  max-width: 100%;        
  height: auto;          
  border: 2px solid black; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.list { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.list button{   
  border: none;
  text-align: center;  
  padding: 15px 32px;
  font-size: 45px;
  cursor: pointer;
  margin: 4px 2px;
}

.rank-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
  color: black;
}

.icon-player{
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: flex;
  margin-top: 120px;
  margin-bottom: 10px;
}

.rank-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.rank-icon{
  width: 135px;
  height: 135px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: flex;
}

.rank-text {
  color:  black;
  font-weight: bold;
  text-align: center;
  min-height: 24px;
  font-size: 30px;
}

.rank-text-title{
  color: black;
  font-size: 32px;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.player-name{
  color: black;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}

.rank-details{
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.player-info{
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.ladder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
  margin-top: 120px;
  margin-bottom: 45px;
}

.ladder-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 20px; 
}

.ladder-table th,
.ladder-table td,
.ladder-table tr {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 28px;
  text-align: center;
}

.ladder-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  align-items: center;
}

.ladder-table tbody tr:hover {
  background-color: #f5f5f5;
}

.player-info td {
  display: flex;
  font-size: 40px;
  text-align: center;
  max-width: 500px;
}

.player-image {
  width: 80px;
  height: 80px; 
  margin-left: 10px;
  margin-top: 10px;
  align-items: center;
  border: 1px solid rgb(233, 233, 233);
 
}

.rank-icon-ladder {
  width: 135px;
  height: 135px; 
  margin-left: 10px;
  margin-top: 20px;
  align-items: center;
}

.refresh-button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.refresh-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.ladder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.last-refresh {
  font-size: 14px;
  color: #acaaaa;
}

.ladder-refresh-button:hover {
  background-color: #5e61e2;
  color: #fafafa;
}

.ladder-header {
  font-size: 40px;
  color: black;
  ;
}

.player-name-ladder, .rank-ladder, .rank-tier, .player-account{
  font-size: 30px;
  color: black;
  align-items: center;
  text-align: center;
}

.player-account {
  max-width: 650px;
}

.player-account-header{
  max-width: 600px;
  text-align: center;
}

.ladder-title {
  font-size: 55px;
}

.player-account-width, .td-player-account{
  max-width: 600px;
}

.clickable:hover {
  color: #5e61e2;
  cursor: pointer;
  max-width: auto;
}
